<% @line_items.each do |line_item| %>
  <tr data-id="<%= line_item.id %>">
    <td><%= line_item.name %></td>
    <td><%= line_item.campaign.name %></td>
    <td><%= line_item.booked_amount %></td>
    <td><%= line_item.actual_amount %></td>
    <td><%= line_item.adjustments %></td>
  </tr>
<% end %>