<p id="notice"><%= notice %></p>

<h1>Listing Line Items</h1>

<%= will_paginate @posts %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Campaign</th>
        <th>Booked amount</th>
        <th>Actual amount</th>
        <th>Adjustments</th>
      </tr>
    </thead>

    <tbody>
      <% @line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.name %></td>
          <td><%= line_item.campaign.name %></td>
          <td><%= line_item.booked_amount %></td>
          <td><%= line_item.actual_amount %></td>
          <td><%= line_item.adjustments %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @posts %>

<br>
