<p id="notice"><%= notice %></p>

<h1 class="text-center">Line Items</h1>

<%= will_paginate @posts %>

<div class="table-responsive">
  <table id="line-items" class="table table-striped table-hover">
    <thead>
      <%= render 'table_headers' %>
    </thead>

    <%= render 'table_page' %>
  </table>
</div>

<%= will_paginate @posts %>